<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2009 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lv.kasparsj.android.dwob"
    android:versionCode="5"
    android:versionName="1.7">
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <supports-screens android:resizeable="true"
                    android:smallScreens="true"
                    android:normalScreens="true"
                    android:largeScreens="true"
                    android:xlargeScreens="true"
                    android:anyDensity="true"/> 
                    
	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="17" />

    <application android:icon="@drawable/app_icon" android:label="@string/app_name" android:name="lv.kasparsj.android.dwob.DwobApp">
        
        <activity android:name="lv.kasparsj.android.dwob.DwobActivity"
                  android:label="@string/app_name"
                  android:noHistory="true"
                  android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Broadcast Receiver that will process AppWidget updates -->
        <receiver android:name=".DwobWidget" android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <!-- Attention: does not work if using strings from values -->
               	<action android:name="lv.kasparsj.android.dwob.UPDATE" />
               	<action android:name="lv.kasparsj.android.dwob.REFRESH" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_words" />
        </receiver>
        
        <receiver android:name="lv.kasparsj.android.dwob.DwobUpdateReceiver">
		   <intent-filter>
		      <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
		   </intent-filter>
		</receiver>
        
    </application>
       
</manifest>
