<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lv.kasparsj.android.dwob"
    android:versionCode="10"
    android:versionName="1.9.1">
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="11" />
    
    <supports-screens android:smallScreens="true"
                      android:normalScreens="true"
                      android:largeScreens="true"
                      android:xlargeScreens="true"
                      android:anyDensity="true"/>

    <application android:icon="@drawable/app_icon" android:label="@string/app_name" android:name=".DwobApp">
        
        <activity android:name=".DwobActivity"
                  android:label="@string/app_name"
                  android:noHistory="true"
                  android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Broadcast Receiver that will process AppWidget updates -->
        <receiver android:name=".DwobWidget" android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <!-- Attention: does not work if using strings from values -->
               	<action android:name="lv.kasparsj.android.dwob.UPDATE" />
               	<action android:name="lv.kasparsj.android.dwob.REFRESH" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_words" />
        </receiver>
        
        <receiver android:name=".DwobUpdateReceiver">
		   <intent-filter>
		      <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
		   </intent-filter>
		</receiver>
        
    </application>
       
</manifest>
