<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lv.kasparsj.android.dwob"
    android:versionCode="12"
    android:versionName="2.0.1">
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <supports-screens android:smallScreens="true"
                      android:normalScreens="true"
                      android:largeScreens="true"
                      android:xlargeScreens="true"
                      android:anyDensity="true"/>

    <application android:icon="@drawable/app_icon" android:label="@string/app_name" android:name=".App"
        android:allowBackup="true">

        <service android:name=".AppService" />
        
        <activity android:name=".MainActivity"
                  android:label="@string/app_name"
                  android:configChanges="orientation"
                  android:theme="@style/Theme.AppCompat" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Broadcast Receiver that will process AppWidget updates -->
        <receiver android:name=".DailyWordsWidget" android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_words" />
        </receiver>

    </application>
       
</manifest>
